footer
  .container
    .row 
      br
      .col.lg-12.text-center
        h2.section-subheading otsconf slack
        p.text-muted Would love to chat with the otsconf community?
        iframe(src="https://otsconfchat.herokuapp.com")
      br
    .row
      .col-md-12
        span.copyright
          | The otsconf is not for profit
          | and brought to you by #{''}
          a(href="http://opentechschool.org/dortmund") OpenTechSchool Dortmund
      .col-md-12
        span.copyright
          | We welcome everyone and #{''}
          a(href='#coc') defend you from harassment
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/otsconf')
              i.fa.fa-twitter
          li
            a(href='http://opentechschool.org/dortmund')
              i.fa.fa-globe
          li
            a(href='https://github.com/opentechschool')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum/Imprint

img(
    width='1',
    height='1',
    src='https://otsconf.com/ext/ext.png',
    alt=''
)

script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60265760-1', 'auto');
    ga('send', 'pageview');
