ul.list-group.col-md-4
  h2.text-center Party
  #sissikingkong
    a(href='http://www.sissikingkong.de/')
      img.default(
        width='358'
        height='220'
        alt='sissikingkong Party Location'
        src='/images/sissikingkong.png'
      )
      div
        h3.text-center sissikingkong #{' '}
          small Party Location
