ul.list-group.col-md-4
  h2.text-center Party
  #sissikingkong
    a(href='http://www.sissikingkong.de/')
      img(
        width='375'
        height='220'
        alt='sissikingkong Party Location'
        src='/images/essbar_night.jpg'
        srcset='/images/essbar_night@2x.jpg 2x'
      )
      div
        h3.text-center sissikingkong #{' '}
          small Party Location
      img.default(
        width='375'
        height='220'
        alt='Essbar Party Location'
        src='/images/essbar.jpg'
        srcset='/images/essbar@2x.jpg 2x'
      )
