section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors

    .row.text-center
      .col-md-12.text-center

      | We have sponsorship opportunities available. #{''}
      a(href='mailto:sponsoring@otsconf.com?subject=Sponsoring%20inquiry&body=Hey%20otsconf%20Team%2C%0Acould%20you%20please%20send%20me%20your%20sponsoring%20material%3F%0A%0ABest') Please talk to us. <br /><br /><br />

    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Partners

    .row
      .col-md-offset-1.col-md-10

        a.sponsor.col-sm-12(
          href='https://www.rrbone.net/',
          title='rrbone'
        )
          img.img-responsive.img-centered(
            width='400',
            src='images/logos/rrbone.png',
            srcset='images/logos/rrbone@2x.png 2x',
            alt='rrbone'
          )

        a.sponsor.col-sm-12(
          href='http://www.heimatdesign.de/',
          title='heimatdesign'
        )
          img.img-responsive.img-centered(
            width='400',
            src='images/logos/heimatdesign.png',
            srcset='images/logos/heimatdesign.png 2x',
            alt='heimatdesign'
          )

        a.sponsor.col-sm-12(
          href='http://foundation.travis-ci.org/',
          title='Travis Foundation'
        )
          img.img-responsive.img-centered(
            width='400',
            src='images/logos/travis_foundation.png',
            srcset='images/logos/travis_foundation@2x.png 2x',
            alt='Travis Foundation'
          )

     .row
      .col-md-12.text-center
        h2.section-heading.text-primary Platin Sponsors

    .row
      .col-md-offset-1.col-md-10

        a.sponsor.col-sm-12(
            href='http://tech.zalando.com/',
            title='Zalando Technology'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/zalando@2x.png',
            srcset='images/logos/zalando@2x.png 2x',
            alt='Zalando Technology'
         )

        a.sponsor.col-sm-12(
            href='http://trivago.com/',
            title='trivago'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/trivago@2x.png',
            srcset='images/logos/trivago@2x.png 2x',
            alt='trivago'
         )

     .row
      .col-md-12.text-center
        h2.section-heading.text-primary Silver Sponsors

    .row
      .col-md-offset-1.col-md-10

        a.sponsor.col-sm-12(
            href='https://www.adesso.de/',
            title='adesso AG'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/adesso.png',
            srcset='images/logos/adesso@2x.png 2x',
            alt='adesso AG'
         )

        a.sponsor.col-sm-12(
            href='https://travis-ci.org/',
            title='Travis CI'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/travisci.png',
            srcset='images/logos/travisci@2x.png 2x',
            alt='Travis CI'
         )

        a.sponsor.col-sm-12(
            href='http://www.fromatob.de/',
            title='fromAtoB'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/fromatob.png',
            srcset='images/logos/fromatob@2x.png 2x',
            alt='fromAtoB'
         )

    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Community Sponsors

    .row
      .col-md-offset-1.col-md-10

        a.sponsor.col-sm-12(
            href='https://www.codecentric.de/',
            title='codecentric AG'
          )
          img.img-responsive.img-centered(
            width='500',
            src='images/logos/codecentric@2x.png',
            srcset='images/logos/codecentric@2x.png 2x',
            alt='codecentric AG'
         )


    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Friends and Family

    .row
      .col-md-offset-1.col-md-10
        a.sponsor.col-sm-4.col-xs-4(
            href='http://hood.ie/',
            title='Hoodie'
          )
          img.img-responsive.img-centered(
            width='300',
            src='images/logos/hoodie@2x.png',
            srcset='images/logos/hoodie@2x.png 2x',
            alt='Hoodie'
          )
        a.sponsor.col-sm-4.col-xs-4(
            href='http://slidr.io/',
            title='Slidr.io'
          )
          img.img-responsive.img-centered(
            width='250',
            src='images/logos/slidrio.png',
            srcset='images/logos/slidrio@2x.png 2x',
            alt='Slidr.io'
          )
        a.sponsor.col-sm-4.col-xs-4(
            href='nightlybuild.io',
            title='NightlyBuild'
          )
          img.img-responsive.img-centered(
            width='100',
            src='images/logos/nightlybuild.png',
            srcset='images/logos/nightlybuild@2x.png 2x',
            alt='NightlyBuild'
          )
    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Coffee Break Sponsor

    .row
      .col-md-offset-1.col-md-10.text-center
        a.sponsor.col-sm-12(
            href='http://qafoo.com/',
            title='Qafoo'
          )
          img.img-responsive.img-centered(
            width='228',
            height='63',
            src='images/logos/qafoo.png',
            srcset='images/logos/qafoo.png 2x',
            alt='Qafoo'
          )

