section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors

    .row.text-center
      .col-md-12.text-center

      | We have sponsorship opportunities available. #{''}
      a(href='mailto:sponsoring@otsconf.com?subject=Sponsoring%20inquiry&body=Hey%20otsconf%20Team%2C%0Acould%20you%20please%20send%20me%20your%20sponsoring%20material%3F%0A%0ABest') Please talk to us. <br /><br /><br />

    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Partners

    .row
      .col-md-offset-1.col-md-10
        
        a.sponsor.col-sm-12(
          href='https://www.rrbone.net/',
          title='rrbone'
        )
          img.img-responsive.img-centered(
            width='400',
            height='210',
            src='images/logos/rrbone.png', 
            srcset='images/logos/rrbone@2x.png 2x',
            alt='rrbone'
          )

        a.sponsor.col-sm-12(
          href='http://www.heimatdesign.de/',
          title='heimatdesign'
        )
          img.img-responsive.img-centered(
            width='400',
            height='210',
            src='images/logos/heimatdesign.png', 
            srcset='images/logos/heimatdesign.png 2x',
            alt='heimatdesign'
          )

     .row
      .col-md-12.text-center
        h2.section-heading.text-primary Platin Sponsors

    .row
      .col-md-offset-1.col-md-10

        //-a.sponsor.col-sm-12(
        //-    href='http://tech.zalando.com/',
        //-    title='Zalando Technology'
        //-  )
        //-  img.img-responsive.img-centered(
        //-    width='500',
        //-    height='175',
        //-    src='images/logos/zalando@2x.png', 
        //-    srcset='images/logos/zalando@2x.png 2x',
        //-    alt='Zalando Technology'
        //- )

        a.sponsor.col-sm-12(
            href='https://angularjs.de',
            title='Symetrics'
          )
          img.img-responsive.img-centered(
            width='500',
            height='175',
            src='images/logos/symetics.png', 
            srcset='images/logos/symetics.png 2x',
            alt='Symetrics'
          )

    
    
    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Our mediapartners

    .row
      .col-md-offset-1.col-md-10
        a.sponsor.col-sm-6.col-xs-6(
            href='http://hood.ie/',
            title='Hoodie'
          )
          img.img-responsive.img-centered(
            width='300',
            height='100',
            src='images/logos/hoodie@2x.png', 
            srcset='images/logos/hoodie@2x.png 2x',
            alt='Hoodie'
          )
        a.sponsor.col-sm-6.col-xs-6(
            href='http://slidr.io/',
            title='Slidr.io'
          )
          img.img-responsive.img-centered(
            width='250',
            height='100',
            src='images/logos/slidrio.png', 
            srcset='images/logos/slidrio@2x.png 2x',
            alt='Slidr.io'
          )
    .row
      .col-md-12.text-center
        h2.section-heading.text-primary Coffee Break Sponsor

    .row
      .col-md-offset-1.col-md-10.text-center
        a.sponsor.col-sm-12(
            href='http://qafoo.com/',
            title='Qafoo'
          )
          img.img-responsive.img-centered(
            width='228',
            height='63',
            src='images/logos/qafoo.png', 
            srcset='images/logos/qafoo.png 2x',
            alt='Qafoo'
          )


    
