section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Your Team
        h3.section-subheading.text-muted
          | The conference is brought to you by us. You may 
          a(href='mailto:team@otsconf.com') contact us
          |  anytime.
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/janerik.jpeg',
            srcset='images/team/janerik.jpeg 2x',
            alt='Jan-Erik Rediger'
          )
          h4 Jan-Erik Rediger
          p.text-muted
            a(href='https://www.rwth-aachen.de') Student
            | #{'| '}
            a(href='https://www.rrbone.net/') rrbone
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/badboy_')
                i.fa.fa-twitter
            li
              a(href='https://github.com/badboy')
                i.fa.fa-github-alt
            li
              a(href='http://fnordig.de/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/leif.jpeg',
            srcset='images/team/leif.jpeg 2x',
            alt='Leif Rothbrust'
          )
          h4 Leif Rothbrust
          p.text-muted
            a(href='http://www.opentechschool.org/dortmund/') Student | OTS Dortmund
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/rthbrst')
                i.fa.fa-twitter
            li
              a(href='https://github.com/rthbrst')
                i.fa.fa-github-alt

      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/ola.jpg',
            srcset='images/team/ola.jpg 2x',
            alt='Ola Gasidlo'
          )
          h4 Ola Gasidlo
          p.text-muted
            a(href='http://hood.ie') Hoodie
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/misprintedtype')
                i.fa.fa-twitter
            li
              a(href='https://github.com/zoepage')
                i.fa.fa-github-alt
  

    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/carsten.jpeg',
            srcset='images/team/carsten.jpeg 2x',
            alt='Carsten Friedrich'
          )
          h4 Carsten Friedrich
          p.text-muted
            a(href='http://www.opentechschool.org/dortmund/') Student | OTS Dortmund
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/dergraf86')
                i.fa.fa-twitter
            li
              a(href='https://github.com/mindjam')
                i.fa.fa-github-alt

      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/sandra.jpeg',
            srcset='images/team/sandra.jpeg 2x',
            alt='Sandra Voß'
          )
          h4 Sandra Voß
          p.text-muted
            a(href='http://www.fh-dortmund.de/') Student
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/artemis671')
                i.fa.fa-twitter

      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/shelly.jpg',
            srcset='images/team/shelly.jpg 2x',
            alt='Shelly Coen'
          )
          h4 Shelly Coen
          p.text-muted
            a(href='http://www.sektor5.at/') sektor5
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/shellycoen')
                i.fa.fa-twitter
            li
              a(href='https://github.com/shellycoen')
                i.fa.fa-github-alt
      
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/hendrik.jpg',
            srcset='images/team/hendrik.jpg 2x',
            alt='Hendrik Mittrop'
          )
          h4 Hendrik Mittrop
          p.text-muted
            a(href='http://tech.zalando.com/') Zalando
            | #{'| '}
            a(href='http://www.opentechschool.org/dortmund/') OTS Dortmund
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/dermiddi')
                i.fa.fa-twitter
            li
              a(href='https://github.com/thatsmiddi')
                i.fa.fa-github-alt
