section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Your Team
        h3.section-subheading.text-muted 
          | The conference is brought to you by us. You may 
          a(href='mailto:team@otsconf.com') contact us 
          |  anytime.
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/stephan.jpg', 
            srcset='images/team/stephan@2x.jpg 2x', 
            alt='Jan-Erik Rediger'
          )
          h4 Jan-Erik Rediger
          p.text-muted
            a(href='http://excellenteasy.com') excellenteasy
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/badboy_')
                i.fa.fa-twitter
            li
              a(href='https://github.com/badboy_')
                i.fa.fa-github-alt
            li
              a(href='http://boennemann.me/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/floor.jpg', 
            srcset='images/team/floor@2x.jpg 2x', 
            alt='Leif Rothbrust'
          )
          h4 Leif Rothbrust
          p.text-muted
            a(href='http://sektor5.at') sektor5
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/floordrees')
                i.fa.fa-twitter
            li
              a(href='https://github.com/floord')
                i.fa.fa-github-alt
            li
              a(href='http://floordrees.tumblr.com/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/hannes.jpg', 
            srcset='images/team/hannes@2x.jpg 2x', 
            alt='Ola Gasidlo'
          )
          h4 Ola Gasidlo
          p.text-muted
            a(href='http://hood.ie') Hoodie
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/misprintedtype')
                i.fa.fa-twitter
            li
              a(href='https://github.com/zoepage')
                i.fa.fa-github-alt
            li
              a(href='http://antilab.net')
                i.fa.fa-globe
      
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/floor.jpg', 
            srcset='images/team/floor@2x.jpg 2x', 
            alt='Carsten Friedrich'
          )
          h4 Carsten Friedrich
          p.text-muted
            a(href='http://sektor5.at') sektor5
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/floordrees')
                i.fa.fa-twitter
            li
              a(href='https://github.com/floord')
                i.fa.fa-github-alt
            li
              a(href='http://floordrees.tumblr.com/')
                i.fa.fa-globe
     
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/christoph.jpg', 
            srcset='images/team/christoph@2x.jpg 2x', 
            alt='Sandra Voß'
          )
          h4 Sandra Voß
          p.text-muted
            a(href='http://fh-dortmund.de/') Student
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/dergraf86')
                i.fa.fa-twitter
            li
              a(href='https://github.com/')
                i.fa.fa-github-alt
            li
              a(href='https://opentechschool.org/')
                i.fa.fa-globe

    .row
      .col-lg-8.col-lg-offset-2.text-center
        p.text-muted
          include:markdown fh.md
