section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Your Team
        h3.section-subheading.text-muted 
          | The conference is brought to you by us. You may 
          a(href='mailto:team@otsconf.com') contact us 
          |  anytime.
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='https://pbs.twimg.com/profile_images/519844646654971904/1EyNREFU_400x400.jpeg', 
            srcset='https://pbs.twimg.com/profile_images/519844646654971904/1EyNREFU_400x400.jpeg 2x', 
            alt='Jan-Erik Rediger'
          )
          h4 Jan-Erik Rediger
          p.text-muted
            a(href='http://www.grandcentrix.net/') grandcentrix
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/badboy_')
                i.fa.fa-twitter
            li
              a(href='https://github.com/badboy')
                i.fa.fa-github-alt
            li
              a(href='http://fnordig.de/')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='https://pbs.twimg.com/profile_images/561977949386051584/mF7LcsO7_400x400.jpeg', 
            srcset='https://pbs.twimg.com/profile_images/561977949386051584/mF7LcsO7_400x400.jpeg 2x', 
            alt='Leif Rothbrust'
          )
          h4 Leif Rothbrust
          p.text-muted
            a(href='#') over the rainbow
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/rthbrst')
                i.fa.fa-twitter
            li
              a(href='https://github.com/rthbrst')
                i.fa.fa-github-alt
            li
              a(href='#')
                i.fa.fa-globe
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='https://pbs.twimg.com/profile_images/562021804126924802/PoGsHLKV.png', 
            srcset='https://pbs.twimg.com/profile_images/562021804126924802/PoGsHLKV.png 2x', 
            alt='Ola Gasidlo'
          )
          h4 Ola Gasidlo
          p.text-muted
            a(href='http://hood.ie') Hoodie
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/misprintedtype')
                i.fa.fa-twitter
            li
              a(href='https://github.com/zoepage')
                i.fa.fa-github-alt
            li
              a(href='http://antilab.net')
                i.fa.fa-globe
      
    .row
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='https://pbs.twimg.com/profile_images/507889401888661504/Lm9o3jQm_400x400.jpeg', 
            srcset='https://pbs.twimg.com/profile_images/507889401888661504/Lm9o3jQm_400x400.jpeg 2x', 
            alt='Carsten Friedrich'
          )
          h4 Carsten Friedrich
          p.text-muted
            a(href='#') over the rainbow
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/dergraf86')
                i.fa.fa-twitter
            li
              a(href='https://github.com/dergraf86')
                i.fa.fa-github-alt
            li
              a(href='#')
                i.fa.fa-globe
     
      .col-sm-4
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='https://pbs.twimg.com/profile_images/553873556245729280/bmEyLPBo_400x400.jpeg', 
            srcset='https://pbs.twimg.com/profile_images/553873556245729280/bmEyLPBo_400x400.jpeg 2x', 
            alt='Sandra Voß'
          )
          h4 Sandra Voß
          p.text-muted
            a(href='http://fh-dortmund.de/') Student
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/artemis671')
                i.fa.fa-twitter
            li
              a(href='https://github.com/artemis671')
                i.fa.fa-github-alt
            li
              a(href='#')
                i.fa.fa-globe
