ul.list-group.col-md-4
  h2.text-center Travel
  .panel.panel-default
    li.list-group-item
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.dortmund-airport.de/' target='_blank') Dortmund Airport
    li.list-group-item
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.dus.com/' target='_blank') Düsseldorf Airport
      small #{' '} + 1h Train
    li.list-group-item
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.koeln-bonn-airport.de/' target='_blank') Köln Bonn Airport
      small #{' '} + 2h Train
    li.list-group-item
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='http://www.bahn.de/p/view/index.shtml' target='_blank') Dortmund Main Station
    li.list-group-item
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='http://www.bahn.de/p/view/index.shtml' target='_blank') Dortmund Westentor
